/* Desktop */
@media screen and (min-width: 1208px) {

}


@media screen and (min-width: 1042px) and (max-width: 1207px) {
.navlogo {
  transform: scale(0.8);
}

  .navbtn {
    text-decoration: none;
    font-size: 1rem;
    color: #f8f8f8;
  }

  .signup-btn {
    font-size: 1rem;
    padding: 1rem 2.5rem; /* Adjusted padding values */
    border-radius: 1.25rem; /* Adjusted border-radius value */
    background-color: transparent;
    color: #f8f8f8;
    border: 1px solid #f8f8f8;
  }
  
  .login-btn,
.hero-btn,
.join-btn {
  font-size: 1rem;
  padding: 1rem 2.5rem;
  border-radius: 1.25rem;
  background-color: #d7b9ff;
  color: #1b1e1e;
  border: 1px solid #1b1e1e;
}

#hero > h1 {
  font-size: 3.875rem;
  color: #f8f8f8;
}

#hero > p {
  font-size: 1rem;
  color: #f8f8f8;
  padding: 0.5rem 0 3rem 0;
}

#hand {
  position: absolute;
  right: -10%;
  top: 25%;
  padding: 0%;
  margin: 0%;  
  transform: scale(0.8);
}

.text-box > h1 {
  font-size: 2.688rem;
  color: #f8f8f8;
  padding-bottom: 2rem;
}

.text-box > p {
  font-size: 1rem;
  color: #f8f8f8;
}

#carousel > h1 {
  font-size: 2.688rem;
  color: #f8f8f8;
  text-align: center;
  padding-bottom: 4rem;
}

#join-us {
  font-size: 1rem;
  background-color: rgba(3, 25, 32, 0.75);
  border-radius: 1.313rem;
  display: block;
  text-align: center;
  margin: 10rem;
  padding-bottom: 5rem;
}

#footer-1 {
  background: #042630;
  color: #f8f8f8;
  font-size: 1rem;
}

.footer-img > a {
  padding-left: 42%;
  padding-right: auto;
  padding-top: 5rem;
}

.footer-bar {
  display: flex;
  flex-direction: row;
  padding-left: 33.5%;
  padding-right: auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.socials {
  display: flex;
  flex-direction: row;
  padding-left: 40%;
  padding-right: auto;
  padding-bottom: 5rem;
}
}


/* Mobile */
@media screen and (max-width: 420px) {
.navbtn {
  text-decoration: none;
  font-size: 1.5rem;
  color: #f8f8f8;
}
}